
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">
    <script src="../static/files/js/bootstrap.js"></script>
    <!-- Light Slider -->
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/style.css">

    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>

</head>
<body>
    <div class="container-fluid">
        <!-- Jinja 2 -->
        {%include'navbar.html' %}
        {%include 'carousel.html'%}
        <br><br>
        <h4>Best selling detergents @15% OFF</h4>
        

        <section>
            <ul class="autoWidth">
                {%for item in data%}
                 <li>
                    <div class="box">
                        <div class="slide-img">
                            <img src="../static/photos/{{item[5]}}" alt="">
                            <div class="overlay">
                                <!-- When you click buy now ,you go to /single -->
                                <!-- You provide the product ID that was clicked -->
                                <a href="/single/{{item[0]}}" class="buy-btn">Buy Now</a>

                            </div>
                        </div>
                        <div class="detail-box">
                            <b>{{item[1]}}</b> <br>
                            <b class="text-info">KES{{item[3]}}</b> 
                        </div>

                    </div>

                 </li>         
                {%endfor%}    
            </ul>
        </section>


        <h4>Best  phone selling shop @10% OFF</h4>
        <section>
            <ul class="autoWidth">
                {%for item in data2%}
                 <li>
                    <div class="box">
                        <div class="slide-img">
                            <img src="../static/photos/{{item[5]}}" alt="">
                            <div class="overlay">
                                <a href="/single/{{item[0]}}" class="buy-btn">Buy Now</a>

                            </div>
                        </div>
                        <div class="detail-box">
                            <b>{{item[1]}}</b> <br>
                            <b class="text-info">KES{{item[3]}}</b> 
                        </div>

                    </div>

                 </li>         
                {%endfor%}    
            </ul>
        </section>


        <h4>Laptops we sell</h4>
        <section>
            <ul class="autoWidth">
                {%for item in data3%}
                 <li>
                    <div class="box">
                        <div class="slide-img">
                            <img src="../static/photos/{{item[5]}}" alt="">
                            <div class="overlay">
                                <a href="/single/{{item[0]}}" class="buy-btn">Buy Now</a>

                            </div>
                        </div>
                        <div class="detail-box">
                            <b>{{item[1]}}</b> <br>
                            <b class="text-info">KES{{item[3]}}</b> 
                        </div>

                    </div>

                 </li>         
                {%endfor%}    
            </ul>
        </section>

        <h4>latest clothes design</h4>
        <section>
            <ul class="autoWidth">
                {%for item in data4%}
                 <li>
                    <div class="box">
                        <div class="slide-img">
                            <img src="../static/photos/{{item[5]}}" alt="">
                            <div class="overlay">
                                <a href="/single/{{item[0]}}" class="buy-btn">Buy Now</a>

                            </div>
                        </div>
                        <div class="detail-box">
                            <b>{{item[1]}}</b> <br>
                            <b class="text-info">KES{{item[3]}}</b> 
                        </div>

                    </div>

                 </li>         
                {%endfor%}    
            </ul>
        </section>

       

    </div>
</body>
</html>